body{
    margin: 0;
    padding: 0;
    font-family: Suisse Regular,sans-serif;
}
.swiper-button-next{
    z-index: 60 !important;
    display: flex !important;
    width: 60px !important;
    height: 60px !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #333 !important;
    pointer-events: auto !important;
    transition: transform .5s cubic-bezier(.215,.61,.355,1) !important;
}

.swiper-button-prev{
    z-index: 60 !important;
    display: flex !important;
    width: 60px !important;
    height: 60px !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #333 !important;
    pointer-events: auto !important;
    transition: transform .5s cubic-bezier(.215,.61,.355,1) !important;
}

.swiper-button-prev.swiper-button-disabled{
    transition: transform .5s cubic-bezier(.215,.61,.355,1) !important;
    transform: translate3d(-80px,0,0) !important;
}

.swiper-button-next.swiper-button-disabled{
    transition: transform .5s cubic-bezier(.215,.61,.355,1) !important;
    transform: translate3d(80px,0,0) !important;
}

.swiper-button-next::after{
    font-size: 16px !important;
    color: #fff !important;
    font-weight: 700 !important;
}

.swiper-button-prev::after{
    font-size: 16px !important;
    color: #fff !important;
    font-weight: 700 !important;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 2px;
}

.swiper-slide{
    display: flex !important;
    flex-direction: column;
    justify-content: end;
}